<%= provide(:title, 'Log in') %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: login_path, local: true do %>
      <%= label(:session, :email) %>
      <%= text_field(:session, :email, class: 'form-control') %>

      <%= label(:session, :password) %>
      <%= password_field(:session, :password, class: 'form-control') %>

      <%= submit_tag 'Log in', class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
